/*
This file is part of SystemTestPortal.
Copyright (C) 2017  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
test-sequence-reorder: properties copied from bootstrap's '.close' property (and changed)
 */
.test-sequence-reorder {
    margin-right: 15px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.test-sequence-reorder:focus, .test-sequence-reorder:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
}

button.test-sequence-reorder {
    padding: 0;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}